body {
  font-family: 'Arial Black';
  font-size: 10px;
  line-height: 2;
  
}
.col-10 {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid rgb(196, 194, 194);
  border-top: 1px solid rgb(196, 194, 194);
  border-bottom: 1px solid rgb(184, 184, 184);
  padding: 5px;
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 100px;
}

#time{
  text-align: center;
  font-size: 11px;
}

.rowBtn {
 
  background-color: #000000;
  color: white;
  
}